@charset "UTF-8";

// General Colors
$color_bg: #0d2e3b;
$header_bg: #cbdce2;

// ----------------------------
// ---- Style for Visualisation
// ----------------------------
// color set from http://flatuicolors.co/
$color_ra: #3ebeff;
$color_rc: #52e796;

$color_ra_darker: darken($color_ra, 5%);
$color_rc_darker: darken($color_rc, 5%);
$color_active: white;
$color_indirect: #8e44ad;
$color_indirect_new: #f39c12;

// $color_ra: #73b2db
// $color_rc: #7ec09a

// $color_ra_darker: #2980B9
// $color_rc_darker: #4aa571
// $color_active: #FF4F4D
// $color_indirect: #8e44ad
// $color_indirect_new: #f39c12

* {
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $color_bg;
  font: 11px "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  height: 100%;
}

// ----------------------------
// ---- General Layout
// ----------------------------

h1 {
  font-weight: 300;
  font-size: 19px;
  padding: 17px 30px 0px;
  margin-bottom: 8px;
  z-index: 10000;
  text-align: center;
  text-transform: uppercase;
  .head, .subhead {
    display: inline-block;
  }
  .subhead {
    font-size: 19px;
    font-weight: 100;
  }
}

h2 {
  font-weight: 300;
  font-size: 16px;
  margin: 0 auto;
  width: 270px;
  padding: 25px 10px 2px;
  text-transform: uppercase;
  color: $header_bg;
  opacity: 0.5;
  background-color: $color_bg;
}

button {
  border: none;
  border-radius: 2px;
  height: 34px;
  line-height: 34px;
  outline: 0;
  padding: 0 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #aaaaaa;
  background-color: inherit;
  border-bottom: 1px solid #aaaaaa;
  text-align: center;
  letter-spacing: 0.5px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font: 11px "Roboto", sans-serif;
  position: absolute;
  top: 90px;
  left: 120px;
  &:hover {
    cursor: pointer;
    color: black;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.loading {
  font-size: 14px;
  font-weight: 200;
  margin: 0 auto;
  display: block;
  width: 100px;
  margin-top: 35%;
  color: white;
  text-transform: uppercase;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 115px;
  background-color: $header_bg;
}

#selectbox {
  // margin: 0px
  padding: 0px;
  display: block;
  // position: absolute
  margin: 0px auto;
  width: 400px;
  font-size: 14px;
  z-index: 10000;
  > *, input:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .js-example-basic-single {
    width: 400px;
  }
}

.col {
  margin: 0px;
  padding: 0px;
  display: block;
  position: absolute;
  top: 115px;
  bottom: 0px;
  &#container_ra {
    // border-right: 5px solid $header_bg

  }
}

#divider {
  position: absolute;
  top: 120px;
  bottom: 0px;
  width: 1px;
  background-color: lighten($color_bg, 5%);
  left: 50%;
  margin: 3% 0%;
}

// svg {
//   margin-top: -48px;
// }

#settings {
  position: absolute;
  width: 120px;
  left: 50%;
  margin-left: -60px;
  bottom: 12px;
  button {
    position: relative;
    top: auto;
    left: auto;
    fill: white;
    cursor: pointer;
  }
  &.indirect {
    text {
      fill: #8e44ad;
    }
  }
  &.indirectnew {
    text {
      fill: #e67e22;
    }
  }
  .legend {
    display: none;
    margin: 0px 0px 15px;
    span {
      display: block;
      padding: 0px 0px 2px 5px;
      margin: 3px 0px;
    }
    .select {
      border-left: 3px solid #ff4f4d;
    }
    .direct_ {
      border-left: 3px solid #111111;
    }
    .indirect_ {
      border-left: 3px solid #8e44ad;
    }
    .indirect_new {
      border-left: 3px solid #f39c12;
    }
  }
}

$time: 400ms;

#message {
  position: absolute;
  top: 0px;
  left: 50%;
  min-width: 130px;
  margin-left: -75px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 13px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  opacity: 0;
  -webkit-transition: opacity $time ease-in-out;
  -moz-transition: opacity $time ease-in-out;
  -ms-transition: opacity $time ease-in-out;
  -o-transition: opacity $time ease-in-out;
  transition: opacity $time ease-in-out;
}

#container_ra {
  .link {
    stroke: $color_ra;
  }
  .node {
    text {
      fill: $color_ra_darker;
    }
    &.indirect text {
      // fill: $color_rc_darker

    }
    &.indirectnew text {
      fill: desaturate($color_rc_darker, 15%);
    }
  }
}

#container_rc {
  .link {
    stroke: $color_rc;
  }
  .node {
    text {
      fill: $color_rc_darker;
    }
    &.indirect text {
      // fill: $color_ra_darker

    }
    &.indirectnew text {
      fill: desaturate($color_ra_darker, 15%);
    }
  }
}

.node {
  stroke-width: 1.5px;
  stroke: none;
  // fill: #3498db
  &:hover {
    cursor: pointer;
    .text:hover {
      cursor: pointer;
    }
  }
  &.active {
    cursor: pointer;
    text {
      font-weight: bold !important;
      fill: $color_active !important;
      cursor: pointer;
    }
  }
  &.indirect text {
    opacity: 0.6;
  }
  &.indirectnew text {
    opacity: 0.6;
  }
}

.link {
  fill: none;
}

$time: 500ms;

.node, .link {
  -webkit-transition: opacity $time ease-in-out;
  -moz-transition: opacity $time ease-in-out;
  -ms-transition: opacity $time ease-in-out;
  -o-transition: opacity $time ease-in-out;
  transition: opacity $time ease-in-out;
  pointer-events: auto;

  &.root {
    text { font-weight: 900; }
  }

  &.deactivated {
    pointer-events: none !important;
  }
  &.hide, &.hide_hover {
    opacity: 0;
    pointer-events: none;
  }
  &.show, &.show_hover {
    opacity: 1;
    pointer-events: auto;
  }
  &.hide_hover {
    opacity: 0 !important;
  }
  &.show_hover {
    opacity: 1 !important;
    &.twofive {
      opacity: 0.3 !important;
      stroke-width: 1px;
    }
    &.fivezero {
      opacity: 0.4 !important;
      stroke-width: 1.2px;
    }
    &.sevenfive {
      opacity: 0.75 !important;
      stroke-width: 1.5px;
    }
    &.onezerozero {
      opacity: 0.9 !important;
      stroke-width: 4px;
    }
  }
}

.node.hide_hover, .node.hide {
  opacity: 0.15 !important;
}

.node.show_hover {
  opacity: 1 !important;
}

.link.show {
  &.twofive {
    opacity: 0.3;
    stroke-width: 1px;
  }
  &.fivezero {
    opacity: 0.4;
    stroke-width: 1.2px;
  }
  &.sevenfive {
    opacity: 0.75;
    stroke-width: 1.5px;
  }
  &.onezerozero {
    opacity: 0.9;
    stroke-width: 4px;
  }
  &.indirect {
    opacity: 0.1;
  }
}

text {
  font: 11px "Roboto", sans-serif;
  text-transform: uppercase;
  // fill: black
  stroke: none;
  // text-anchor: start
}

.backgroundText {
  stroke: $color_bg;
  stroke-width: 2px;
  fill: none;
}

// custom select2 style

.select2-container--default {
  .select2-selection--multiple, .select2-selection--single, &.select2-container--focus .select2-selection--multiple {
    height: 40px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: 0;
    font: 16px "Roboto", sans-serif;
    font-weight: 500;
    border: 0px;
  }
  .select2-selection--multiple, &.select2-container--focus .select2-selection--multiple {
    height: auto;
  }
  .select2-search--inline .select2-search__field {
    height: 30px;
  }
  .select2-selection--multiple {
    input {
      margin: 0;
    }
    .select2-selection__choice {
      border: none;
      color: white;
      margin-top: 8px;
      padding: 3px 10px;
      background-color: #42a5f5;
    }
    .select2-selection__choice__remove {
      color: white;
      margin-right: 5px;
      &:hover {
        color: white;
        margin-right: 5px;
      }
    }
  }
  .select2-selection--single {
    .select2-selection__rendered {
      line-height: 40px;
      padding-left: 0;
    }
    .select2-selection__arrow {
      height: 40px;
      b {
        border-color: rgba(0, 0, 0, 0.3) transparent transparent;
      }
    }
  }
  .select2-results>.select2-results__options {
    max-height: 400px;
  }
  .select2-selection--single {
    background-color: $header_bg;
  }
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 25px;
  padding-right: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: auto;
  left: 1px;
}

.select2-container--open {
  .select2-dropdown--above, .select2-dropdown--below {
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: lighten($color_bg, 20%);
}

.select2-results__option {
  padding: 1rem;
  font-size: 14px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-top: none;
  border-right: none;
  border-left: none;
}
